
@{
    ViewBag.Title = "Anasayfa";
}

<div id="ContentRight">
    <div id="Menu">
        <h2>Dizüstü Bilgisayarlar</h2>
        <h5>Dizüstü Bilgisayarlar Kategorisi için ürünler</h5>
    </div>
    <div id="Urunler">
        <div class="Urun">
            <div class="UrunResmi">
                <img src="~/Content/images/products/cannon.png" />
            </div>
            <h2>Ürün Adı</h2>
            <p>
                Ürün Detayı
                <span>Fiyat : <span>1200 TL</span></span>
            </p>
            <span class="detay">Detay</span>
        </div>
        <div class="Urun">
            <div class="UrunResmi">
                <img src="~/Content/images/products/cannon.png" />
            </div>
            <h2>Ürün Adı</h2>
            <p>
                Ürün Detayı
                <span>Fiyat : <span>1200 TL</span></span>
            </p>
            <span class="detay">Detay</span>
        </div>
        <div class="Urun">
            <div class="UrunResmi">
                <img src="~/Content/images/products/cannon.png" />
            </div>
            <h2>Ürün Adı</h2>
            <p>
                Ürün Detayı
                <span>Fiyat : <span>1200 TL</span></span>
            </p>
            <span class="detay">Detay</span>
        </div>
        <div class="Urun">
            <div class="UrunResmi">
                <img src="~/Content/images/products/cannon.png" />
            </div>
            <h2>Ürün Adı</h2>
            <p>
                Ürün Detayı
                <span>Fiyat : <span>1200 TL</span></span>
            </p>
            <span class="detay">Detay</span>
        </div>
        <div class="Urun">
            <div class="UrunResmi">
                <img src="~/Content/images/products/cannon.png" />
            </div>
            <h2>Ürün Adı</h2>
            <p>
                Ürün Detayı
                <span>Fiyat : <span>1200 TL</span></span>
            </p>
            <span class="detay">Detay</span>
        </div>
        <div class="Urun">
            <div class="UrunResmi">
                <img src="~/Content/images/products/cannon.png" />
            </div>
            <h2>Ürün Adı</h2>
            <p>
                Ürün Detayı
                <span>Fiyat : <span>1200 TL</span></span>
            </p>
            <span class="detay">Detay</span>
        </div>
        <div class="Urun">
            <div class="UrunResmi">
                <img src="~/Content/images/products/cannon.png" />
            </div>
            <h2>Ürün Adı</h2>
            <p>
                Ürün Detayı
                <span>Fiyat : <span>1200 TL</span></span>
            </p>
            <span class="detay">Detay</span>
        </div>
        <div class="Urun">
            <div class="UrunResmi">
                <img src="~/Content/images/products/cannon.png" />
            </div>
            <h2>Ürün Adı</h2>
            <p>
                Ürün Detayı
                <span>Fiyat : <span>1200 TL</span></span>
            </p>
            <span class="detay">Detay</span>
        </div>
        <div class="Urun">
            <div class="UrunResmi">
                <img src="~/Content/images/products/cannon.png" />
            </div>
            <h2>Ürün Adı</h2>
            <p>
                Ürün Detayı
                <span>Fiyat : <span>1200 TL</span></span>
            </p>
            <span class="detay">Detay</span>
        </div>
    </div>
    <ul id="Paged">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>

</div>
